body{-webkit-touch-callout:none;background:#191919;font-family:-apple-system;}

a{text-decoration:none;background:#0069ff;border-radius:5px;padding:5px;color:#e6e6e6;}

marquee{background:#00ff00;}

hr.key{margin:10px;border-color:#323232;}

details{background:#e6e6e6;color:#191919;border-radius:10px;}

details.key{background:gold;color:#0069ff;border-radius:0px 0px 10px 10px;}
